*{
    font-family: 'Oswald', sans-serif;
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
}
body{
    background-color: rgb(161, 203, 253);
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quizcontainer{
    /* width: 600px; */
    background-color: whitesmoke;
    padding: 10px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px;  
}
.header{
    text-align: center;
}

button{
    min-width: 100px;
    min-height: 15px;
    padding: 5px;
    background-color:rgb(161, 203, 253);
    border-radius: 5px;
    cursor: pointer;
    /* color: w; */
    border: 1px solid grey;
}

.grip-but{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
    margin:20px 10px;
    text-align: center;
}

.lowerspace{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.start,.next{
    font-size: 1.5em;
}

button:hover{
    transform: scale(1.1);
    background-color: white;
}
.next{
    margin-left: 260px;
}

.correct{
    background-color: rgb(0, 255, 0);
    color: white;
}
.wrong{
    background-color: red;
    color: white;
}
.correct:hover{
    transform: scale(1);
    background-color: rgb(0, 255, 0);
}
.wrong:hover{
    transform: scale(1);
    background-color: red;

}
.hide{
    display: none;
}


.dipilih{
    background-color: yellow;
}
.dipilih:hover{
    transform: scale(1);
    background-color: yellow;
}
.nilai{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8em;
    margin-top:-60px ;
}
